* {
  box-sizing: border-box;
}

.page {
  overflow: hidden;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  flex-direction: column;
  background-color: #f2f2f2;

  /* выше установили ограничения для секции */
}

h1, h2, p {
  margin: auto;
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  margin-left: 64px;
  margin-top: 30px;
  z-index: 3;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 102px;
  line-height: 96px;
  width: 730px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 5;

}

.subtitle {
  position: absolute;
  font-weight: normal;
  width: 388px;
  height: 75px;
  margin-left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 4;

}

.link {
  text-decoration: none;
  color: #2f80ed;
}


.main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 2;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  display: flex;
  padding-top: 100px;

}

.two-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.two-columns__left {
  width: 175px;
}

.two-columns__right {
  width: 80%;
  min-width: 784px;
}

/* Начало CSS для блока description */
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;

}

.two-columns__brief {
  padding-top: 30px;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;

}

.two-columns__main-text {
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 30px 0;
  font-size: 24px;
  line-height: 34px;

}

.two-columns__span-accent {
  margin: 30px 0;
  font-size: 24px;
  line-height: 34px;
}

/* Конец CSS для блока description */

span {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column; 
  padding-top: 100px;
  margin-bottom: 20px;

}

.section-title {
  position: relative;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;

}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto auto;
  align-content: center;

}

.table {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 60px;
  margin: auto;
  width: 1100px;

}

.cell {
  background: white;
  width: 250px;

}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
}

.feynman {
  position: relative;
  height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  position: relative;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  z-index: 4;
}

.feynman__subtitle {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 5;
}

.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.kaufman {

  position: relative;
  overflow: hidden;
  padding-top: 90px;
  background-color: #1f1f1f;
  z-index: 1;
}

.section-title_theme_dark {
  position: relative;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  z-index: 3;
}

.section-subtitle_theme_dark {
  position: relative;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 4;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-row-gap: 80px;
  color: white;
  margin: auto;
  z-index: 5;

}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 90px;
  z-index: 5;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  z-index: 5;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  color: white;
  font-weight: normal;
  margin: 20px 0;
  z-index: 5;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -180px;
  z-index: 2;
}

.footer {
  background: #1f1f1f;
  padding: 60px 0 40px 0;
  color: #fff;
}

.footer__container {
  min-height: 350px;
  margin: 0 auto;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  grid-row-gap: 100px;
}

.footer__columns {
  display: flex;
}

.footer__columns > * {
  flex: 1;
}

.logo_place-footer {
  height: 183px;
  width: 35px;
}

.footer__columns-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer__columns-wrap h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0; 

}

.footer__columns-wrap > div {
  margin-left: 190px;

}

.footer__column-links, .footer__column-heading_items {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;

}

.footer__column-links span{
  font-weight: 400;

}

.footer__column-links-item {
  display: flex;
  align-items: center;
}

.footer__column-links-item span {
  margin-left: 9px;
}

.footer__column-links-item img {
  width: 16px;
  height: 16px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}