.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-top: 68px;
  color:#2F80ED;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}
